* {
  margin:0;
  padding: 0;
  font-family: 'Julius Sans One', sans-serif;

}

body {
  background-color: #fff;
  }



nav {
  background-color: white;
  width: 100%;
  }


#menu{
  background-color:#000 ;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  float:left;
  width: 100%;
  max-width: 100%;

  }

#menu .menup{
  margin: 0 auto;
  margin-left: 22%;

  }

#menu li{
  float:left;
  position: relative;
  padding: 6px 0;
  margin: 10px;
  list-style: none;
  }

#menu li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  }



#search {
  background-color: white;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAD7SURBVEhL7ZNJCgIxEEV7L+7U86g3UDyKIC7E6UBO13A6STvgWv0vdECENoO0gvjgQaaqdFeS5GepyqncyksmbcYq8i068ixvOR5lW0ZB8qsk0UzWZSmTNmPMsaYlg6hJ++VdBnLoSdacZFC5qC+Bc9N7zVKydmx6nuwlQZTCRUOydmd6ntjyUG8XZclaYryJ2YDr6w2/SxC/78KWiLfhzUQSFHLII9PzhNfL1SOQq5hHX7ImlcQEweOxD20hKQX1xqZcSeZwIKNgk4O0iZ5ljuS2P5TB8EI5k43kdnFb1pJktiyPm0Zt4oID/m/izcc3oV0IJC4s+TdIkjtvw2StRkuoOwAAAABJRU5ErkJggg==");
  background-position:left ;
  background-repeat: no-repeat;
  padding-left: 40px;
  width: 100%;
  padding:5px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

::placeholder {
  text-align: center;
  }

main {
  width: 100%;
  max-width: 100%;
  min-width: 100%;

  }


section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 2.5%;
  border-radius: 4px;
  border-style: solid;

  }

h1 {
  font-size: 100%;
  font-family:'Julius Sans One', sans-serif;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 2%;
  }


.opt {
  padding-top: 2% ;
  padding-bottom:2%;
  list-style: none;
  border-radius: 4px;
  border-style: solid;
  border-color: #000;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  margin-bottom:5%;
  width: 70%;
  background-color: #f2f2f2;
}

.opt:hover {
  background-color: grey;
}

.opt, a {
  text-decoration: none;
  color: #000;

}


footer {
  background-color: #000;
  width: 100%;
  color: #fff;
  text-align: center;

}

.social {
  display: inline-block;

}

.iconos {
  width: 100%;

}



/*movil*/
@media screen and (max-width:425px) {
  #menu {
   float: left;
   font-size: 50%;
   }

   #menu li {
     text-align: center;
   }

   .search_bar {
     visibility: hidden;
   }

   header {
    position: fixed;
    background-color: #FFF;

   }

   main {
     width: 100%;
     float: right;

   }



   nav {
     width: 20%;
     float: left;
     position:fixed;
     margin-top: 15%;
     font-size: 100%;

   }

   h1 {
     font-size: 10%;
   }

   .opt, a {
     font-size: 10%;
   }


   .cont {
     width: 80%;
     float: right;
     margin-top: 20%;
     margin-bottom: 80%;
     background-color: #FFF;
   }

   footer {
     float: right;

   }

   .social, p {
     font-size: 40%;
   }

   .iconos > img {
     width: 10% ;
     float: right;
   }

  .social >img {
     width: 60%;

   }
